body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

.homePage {
  background-image: url("../Images/backgroundImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.homePage::-webkit-scrollbar {
  display: none;
}

.officeBackground {
  background-image: url("../Images/officeImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}