body {
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
  background: linear-gradient(#4b5a67, #4b5a67);
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

.zoomIn {
  transform: scale(1.05);
}

.sharpen {
  backdrop-filter: none !important;
  opacity: 0.3;
}
